.env
.env.
venv/
myvenv/
__pycache__/
temp_images/*
stakwork/
*.csv
*.json

.DS_Store
.idea/
tmp/
logfile.log
logstash.db
tests/htmlcov
tests/.coverage
junit.xml
coverage.xml
.coverage
tests/integration/temp_images/
