.env
.env.
venv/
__pycache__/
temp_images/*
stakwork/
*.csv
*.json

.DS_Store
.idea/
neo4j/data/
neo4j/plugins/
neo4j/tmp/
neo4j/logs/
neo4j/conf/neo4j.conf
tmp/
logfile.log
logstash.db
tests/htmlcov
tests/.coverage
junit.xml
coverage.xml
.coverage
tests/integration/temp_images/
neo4j/data_bk/
